:root {
  /* Light Theme */
  --background-color: #EEE7DA;
  --primary-color: #88AB8E;
  --secondary-color: #AFC8AD;
  --accent-color: #BF3131;
  --text-color: #607274;
  --link-color: #607274;
  /* Dark Theme */
  --background-dark: #45474B; /* #607274; */
  --primary-dark: #88AB8E;
  --secondary-dark: #EEE7DA;
  --accent-dark: #BF3131;
  --text-dark: #EEE7DA;
  --link-dark: #EEE7DA;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.dark body {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

a {
  color: var(--link-color);
  text-decoration: underline dotted;
}

.dark a {
  color: var(--link-dark);
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.dark a:hover {
  color: var(--accent-dark);
}

h1 {
  color: var(--primary-color);
}

.dark h1 {
  color: var(--primary-dark);
}

h2, h3, h4, h5, h6 {
  color: var(--secondary-color);
}

.dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: var(--secondary-dark);
}
 
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .dark header {
    border-top: 2px solid var(--secondary-dark);
    border-bottom: 2px solid var(--secondary-dark);
  }

  footer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .dark footer {
    border-top: 2px solid var(--secondary-dark);
    border-bottom: 2px solid var(--secondary-dark);
  }

  slot {
    flex: 1 100%;
  }
  
  hr {
    color: var(--text-color);
    width: 100%;
  }

  .dark hr {
    color: var(--text-dark);
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 3rem;
    color: var(--primary-color);
  }

  .dark h1 {
    color: var(--primary-dark);
  }

.meta {
  text-align: center;
  border-bottom: solid var(--secondary-color);
}

.dark .meta {
  border-bottom: solid var(--secondary-dark);
}

.title {
  text-align: center;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  color: var(--accent-color);
  font-weight: bold;
}

.skill {
  width: fit-content;
  padding: .25rem;
  border: none;
  border-radius: .5rem;
  margin: .25rem;
  background-color: var(--secondary-color);
}

.dark .skill {
  width: fit-content;
  padding: .25rem;
  border: none;
  border-radius: .5rem;
  margin: .25rem;
  color: var(--accent-dark);
}

.social {
  border-radius: .5rem;
}

a.social {
  padding: 0.5rem 1rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
  text-decoration: none;
}

.dark a.social {
  color: var(--background-dark);
  background-color: var(--secondary-dark);
}

a:hover.social {
  color: var(--accent-color);
}

.dark a:hover.social {
  color: var(--accent-dark);
}

.tags {
  display: flex;
  flex-flow: row wrap;
}

.tag {
  margin: 0.25em;
  border: none;
  border-radius: .5rem;
  padding: .5em 1em;
  font-size: 1.15em;
  background-color: var(--primary-color);
  color: var(--background-color);
}

.dark .tag {
  background-color: var(--primary-dark);
  color: var(--background-dark);
}

a.tag {
  text-decoration: none;
}

.title > .tags > .tag {
  justify-content: center;
}

/* HEADER styles */
.hamburger {
  cursor: pointer;
}

.hamburger .line {
  display: flex;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--text-color);
}

.dark .hamburger .line {
  background-color: var(--text-dark);
}

.nav-links {
  width: 100%;
  top: 5rem;
  background-color: var(--background-color);
  display: none;
  margin: 0;
}

.dark .nav-links {
  background-color: var(--background-dark);
}

.nav-links a {
  display: flex;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--secondary-color);
  border-radius: .5rem;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  background-color: var(--secondary-dark);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
