---
const { platform, icon, username } = Astro.props;
---
<a class="social" href={`https://www.${platform}.com/${username}`}><span class={`fa ${icon} fa-2x`} aria-hidden="true" title={`${platform} external link`}></span></a>
